<mat-toolbar color="secondary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <input
    id="todo-title-input"
    [(ngModel)]="todoTitle"
    placeholder="Todo title"
  />
  <span class="example-spacer"></span>
  <button
    (click)="picker.open()"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>access_time</mat-icon>
  </button>

  <mat-form-field class="datepicker" #datepicker>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="todoDeadline" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button
    id="add-todo-btn"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="addTodo()"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
