@use "@angular/material" as mat;

$custom-primary-palette: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #3f51b5,
  600: #394aae,
  700: #3140a5,
  800: #29379d,
  900: #1b278d,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
  ),
);

$custom-yellow-palette: (
  50: #fffde1,
  100: #fef9b4,
  200: #fef583,
  300: #fef151,
  400: #fdee2b,
  500: #fdeb06,
  600: #fde905,
  700: #fce504,
  800: #fce203,
  900: #fcdd02,
  A100: #ffffff,
  A200: #fffdef,
  A400: #fff6bc,
  A700: #fff2a2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);
$custom-typography: mat.define-typography-config(
  $font-family: "Roboto",
);
$custom-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: $custom-typography,
  )
);

$dark-primary: mat.define-palette(mat.$indigo-palette);
$dark-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$custom-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

@include mat.all-component-themes($custom-light-theme);

body.dark-theme {
  @include mat.all-component-colors($custom-dark-theme);
}

// @include mat.button-theme($custom-theme);
