<mat-toolbar
  class="todo-item"
  [class]="todo.done === 1 ? 'done' : 'undone'"
  [class]="todo.deadline < currentTime ? 'overdue' : 'intime'"
  [color]="
    todo.done === 1
      ? 'primary'
      : todo.deadline < currentTime
        ? 'warn'
        : 'secondary'
  "
>
  <button
    id="days-left-indicator"
    mat-icon-button
    [matTooltip]="daysLeft"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>notes</mat-icon>
  </button>
  <span id="todo-title">{{ todo.title }}</span>
  <span class="example-spacer"></span>

  <!-- Check the todo  -->
  <button
    id="check-todo-btn"
    *ngIf="todo.done === 0"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="checkTodo(todo.id)"
  >
    <mat-icon>done</mat-icon>
  </button>

  <!-- Uncheck the todo -->
  <button
    id="uncheck-todo-btn"
    *ngIf="todo.done === 1"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="uncheckTodo(todo.id)"
  >
    <mat-icon>undone</mat-icon>
  </button>

  <button
    id="delete-todo-btn"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="removeTodo(todo.id)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
