<div class="todo-list">
  <h2><mat-icon>label</mat-icon> Add todo</h2>

  <div
    cdkDropList
    class="example-list bg-body"
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    (cdkDropListDropped)="drop($event)"
  >
    <app-todo-item class="example-box" *ngFor="let item of todo" cdkDrag />
  </div>

  <h2><mat-icon>access_time</mat-icon> Just one day before deadline</h2>
  <hr />

  <div
    #doneList="cdkDropList"
    class="example-list bg-body"
    cdkDropList
    [cdkDropListConnectedTo]="[todoList]"
    [cdkDropListData]="done"
    (cdkDropListDropped)="drop($event)"
  >
    <app-todo-item class="example-box" *ngFor="let item of done" cdkDrag />
  </div>
  <h2><mat-icon>access_time</mat-icon> One week before deadline</h2>
  <hr />
  <app-todo-item *ngFor="let todo of todos$ | async" />
</div>
