.todo-layout {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;

  .todo-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

h2 {
  max-width: 1000px;
  margin-top: 50px;
}

mat-icon {
  cursor: pointer;
}
